<html>  
    <head>  
        <title>Home Page</title>  
    </head>  
    <body>
        <h1>Tool list:</h1>
        <p>It is currently: {{the_time}}</p> 
        <h3><a href="/getinfopc" class="infopc">Infomation Virtual Machine</a></h3>
        <h3><a href="/id_fb" class="idfb">Get ID FaceBook</a></h3>
        <h3><a href="/cookie2uid" class="cookie2uid">Cookies To UID</a></h3>
        <h3><a href="/2fa" class="2fa">Get code 2FA</a></h3>
        <h3><a href="/miningmail" class="daomail">Tool Mining Mail</a></h3>

        <!-- /cookie2uid -->

    </body>  
    </html>